* {
    box-sizing: border-box;
    font-family: 'Nanum Pen Script', cursive;
}
.formContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: baseline;

    padding: 30px;
}
header {
    padding: 15px;
}
.background {
    display: flex;
    height: 480px;
    width: 100%;

    background: #88BAAE;

    position: relative;
    /* text-align: center; */
    animation-name: moveToLeft;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
@keyframes moveToLeft {
    0% {top: 200px; left: 50%;}
    50% {top: 200px; left:0%;}
    100% {top: 0px;left: 0%;}

}
#slogan {
    padding-left: 200px;
    padding-top: 200px;
    color: white;
    font-size: 55px;
}

form {
    font-size: 30px;
    /* border-bottom: 5px dotted black; */

    animation-name: hideUnhide;
    animation-delay: 3s;
    animation-fill-mode: both;
}
@keyframes hideUnhide {
    from {visibility: hidden;;}
    to {visibility: visible;;}
}
#search-place {
    height: 43px;
    width: 450px;

    /* border: none; */

    font-size: 20px;
}
button {
    border: none;
}
.submit {
    height: 30px;
    width: 60px;
}
.mainContainer {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
    padding: 15px;
}
.mainContainerHeader {
    display: inline-flex;
    justify-content: space-between;
    text-align: center;
    font-size: 20px;
}
.weather {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;

    width: 500px;
    height: 400px;

    list-style-type: none;

    background: #16394b;
    border-radius: 25px;
    margin: 10px;
}
.weatherIcon {
    float: left;
    width: 150px;
    height: 150px;
    padding: 10px;
}
.weatherInfo {
    color: white;

    font-size: 28px;
    float: right;

    padding: 5px;
}
.events {
    width: 100%;
    max-height: 500px;
    height: auto;

    padding: 25px;
    line-height: 30px;

    overflow: scroll;

    list-style-type: none;
    text-align: center;
    font-size: 24px;
    line-height: 32px;

    background-color: #88BAAE;
    color: white;
/* 
    background: rgb(89, 89, 230); */
}
.events-top-header {
    background-color: #f94777;
    border-radius: 25px;
    color: white;
    padding-right: 15px;
    margin: 10px;
}
.weather-top-header {
    background-color: #2588f1;
    border-radius: 25px;
    color: white;
    padding-right: 10px;
    margin: 10px;
}
.headerIcon {
    max-width: 58px;
    padding: 10px;
}
.bottomContainer {
    width: 100%;
    height: 200px;

    background: lightblue;
}

@media screen and (max-width: 1300px) {
    .background {
        max-width: 100%;
        width: auto;
        flex-shrink: 1;
    }
    #slogan {
        display: flex;

        padding-left: 150px;
        padding-top: 150px;
        font-size: 45px;
        
        
        flex-shrink: 2;
    }
}
@media screen and (max-width: 1150px) {
    .background {
        flex-shrink: 1;
        flex-wrap: wrap;
        max-width: 100%;
        width: auto;
       
    }
    #slogan {
        padding-left: 100px;
        padding-top: 100px;
        font-size: 45px;
        
        
        flex-shrink: 2;
    }
}
@media screen and (max-width: 1075px) {
    #slogan {
        padding-left: 50px;
        padding-top: 150px;
        font-size: 40px;
        
        position: relative;
        overflow-wrap: break-word;
    }
}
@media screen and (max-width: 990px) {
    #slogan {
        padding-left: 20px;
        padding-top: 100px;
    }
}
@media screen and (max-width: 940px) {
    .background {
        justify-content: center;
    }
    #slogan {
        overflow: hidden;
    }
}

.hidden {
    display: none;
}