* {
    box-sizing: border-box;
}
.formContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    padding: 30px;
}
.background {
    height: 480px;
    width: 100%;

    border: 1px solid black;
    background: #88BAAE;

    text-align: center;
}
form {
    font-size: 30px;
    border-bottom: 5px dotted black;
}
#search-place {
    height: 25px;
    width: 200px;

    border: none;

    font-size: 18px;
}
.submit {
    border-radius: 15%;
    font-size: 18px;
}
.mainContainer {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 500px;

    border: 1px solid orange;
}
.mainContainerHeader {
    text-align: center;
}
.weather {
    width: 100%;
    height: auto;

    text-align: center;
    list-style-type: none;

    border: 1px solid black;
/* 
    background: blue; */
}
.events {
    max-height: 500px;
    height: auto;

    padding: 25px;
    line-height: 30px;

    overflow: scroll;

    list-style-type: none;
/* 
    background: rgb(89, 89, 230); */
}
.bottomContainer {
    width: 100%;
    height: 200px;

    background: lightblue;
}



.hidden {
    display: none;
}