* {
    box-sizing: border-box;
    font-family: 'Nanum Pen Script', cursive;
}
.formContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: baseline;

    padding-top: 30px;
}
header {
    padding: 15px;
}
.background {
    display: inline-flex;
    height: auto;
    width: 100%;

    background-color: #88BAAE;
    border-radius: 25px;

    position: relative;
    animation-name: moveToLeft;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
@keyframes moveToLeft {
    0% {top: 200px; left: 50%;}
    50% {top: 200px; left:0%;}
    100% {top: 0px;left: 0%;}

}
.background-image {
    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
    border-radius: 25px;
}
#slogan {
    padding-left: 150px;
    padding-top: 150px;
    color: white;
    font-size: 55px;
}

form {
    font-size: 30px;

    animation-name: hideUnhide;
    animation-delay: 3s;
    animation-fill-mode: both;
}
@keyframes hideUnhide {
    from {visibility: hidden;}
    to {visibility: visible;}
}
#search-place {
    height: 43px;
    width: 450px;

    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}
button {
    border: none;
}
.submit {
    height: 30px;
    width: 60px;
}
.mainContainer {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
    padding: 15px;
}
.mainContainerHeader {
    display: inline-flex;
    justify-content: space-between;
    text-align: center;
    font-size: 30px;
}
.weather {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;

    width: 500px;
    height: 500px;

    list-style-type: none;

    /* background: #16394b; */
    border: 1px solid black;
    border-radius: 50%;
    padding: 25px;
}
.temp {
    font-size: 120px;
    color: black;
    padding-bottom: 50px;
    padding-top: 5px;

}
.weatherIcon {
    float: left;
    width: 80px;
    height: 80px;
    padding: 10px;
    border-radius: 50%;
}
.weatherInfo {
    color: black;

    font-size: 22px;
    float: right;
}
.events {
    width: 100%;
    max-height: 500px;
    height: auto;

    padding: 25px;
    line-height: 30px;
    margin-top: -30px;

    overflow: scroll;

    list-style-type: none;
    text-align: center;
    font-size: 24px;
    line-height: 32px;

    background-color: #87BAAE;
    color: white;
    border-radius: 25px;
}
.events-top-header {
    border-radius: 25px;
    color: #88BAAE;
    padding-left: 50px;
    margin: 10px;

    width: 100%;
}
.eventInfo {
    color: #EBE8C0;
    font-size: 36px;
    line-height: 34px;
}
.weather-top-header {
    background-color: #2588f1;
    border-radius: 25px;
    color: white;
    padding-right: 10px;
    margin: 10px;
}
.headerIcon {
    max-width: 58px;
    padding: 10px;
}
.bottomContainer {
    width: 100%;
    height: 200px;

    background: lightblue;
}

@media screen and (max-width: 1300px) {
    .background {
        flex-shrink: 1;
    }
    #slogan {
        display: flex;

        padding-left: 100px;
        padding-top: 100px;
        padding-left: 50px;
        font-size: 45px;
        
        
        flex-shrink: 2;
    }
}
@media screen and (max-width: 1150px) {
    .background {
        flex-shrink: 1;
        max-width: 100%;
       
    }
    #slogan {
        padding-left: 100px;
        padding-top: 100px;
        padding-left: 50px;
        font-size: 45px;
        
        
        flex-shrink: 2;
    }
}
@media screen and (max-width: 1075px) {
    #slogan {
        padding-left: 100px;
        padding-top: 150px;
        padding-left: 50px;
        font-size: 40px;
        
        position: relative;
        overflow-wrap: break-word;
    }
}
@media screen and (max-width: 990px) {
    #slogan {
        padding-left: 80px;
        padding-top: 100px;
        padding-left: 50px;
    }
}
@media screen and (max-width: 940px) {
    .background {
        justify-content: center;
    }
    #slogan {
        overflow: hidden;
        padding-left: 50px;
    }
}
@media screen and (max-width: 800px) {
    .background {
        display: inline-block;
        text-align: center;
    }
    #slogan {
        display: inline-block;

        padding-top: 0px;
    }
    .weatherIcon {
        max-width: 100%;
        width: auto;
        max-height: 100%;
        height: auto;
    }
}
@media screen and (max-width: 640px) {
    button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .weather {
        border-radius: 25px;
    }
}
@media screen and (max-width: 585px) {
    .header {
        padding: 0px;
    }
    .background-image {
        max-width: auto;
        width: auto;
        max-height: auto;
        height: auto;
    }
    #slogan {
        font-size: 13vw;
        padding: 0;
    }
    .weather {
        width: 100%;
    }
    .weatherInfo {
        font-size: 5.5vw;
    }
}
@media screen and (max-width: 450px) {
    #search-place {
        width: 100%;
    }
    .weatherIcon {
        max-width: 100%;
        width: auto;
        max-height: 100%;
        height: auto;
    }
}

.hidden {
    display: none;
}